{% extends 'layout.html' %}
{% block content %}
    <div>
            <h3 style="font-size: 16px">{{ post.title }}</h3>
            <p><img src="{{ post.image.url }}" width="500px" height="500px"></p>
            <p>description: {{ post.description }}<p>
            <p>hashtag: {{ post.hashtags }}</p>
        <div>
            <h3>Comments:</h3>
            <ul>
                {% for i in comments %}
                    <li>{{ i.text }}</li>
                    <li>{{ i.datatime }}</li>
                {% endfor %}
            </ul>


        </div>
            <form action="/blog/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                    <p>
                        <label for="comments">Comment</label>
                        <input id="comments" name="comments" type="text">
                        <input id="submit123" type="submit" value="Create Comment">
                    </p>
            </form>
    </div>
{% endblock %}