{% extends 'layout.html' %}
{% block content %}
    <h1>Hello, everyone. This is my little blog</h1>
    <div style="text-align: center">
        <form action="/blog/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
        <ul>
            {% for i in posts %}
                <li>
                        <h3 style="font-size: 16px">{{ i.title }}</h3>
                        <p><img src="{{ i.image.url }}" width="500px" height="500px"></p>
                        <p>{{ i.descr }}</p>
                        <p>{{ i.hashtag }}</p>
                </li>

                    <p>
                        <label for="comments">Comment</label>
                        <input id="comments" name="comments" type="text">
                        <input id="submit123" type="submit" value="Create Comment">
                    </p>

            {% endfor %}
        </ul>
        </form>
    </div>
{% endblock %}