{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div>
    <label>
        <input type="text" id="search-box">
    </label>
    <button onclick="search()"> search </button>
</div>
<div style="text-align:center">
    {% if request.user.is_authenticated %}
            <span>
                <h1>Hi! {{ request.user.first_name }}</h1>
            </span>
            <span>
                <a href="/blog/create-post/">Add post</a>
            </span>
    </div>
    {% else %}
    <p><a href="/users/login/">Login here</a></p>

    {% endif %}
<div style="text-align: center">
    <form action="/blog/" enctype="multipart/form-data">
<ul>
    {% for i in posts %}
    <li>
        <a href="/blog/{{ i.id }}">
        <h3>{{ i.title }}</h3>
        </a>
            <p><img src="{{ i.image.url }}" height="500px", width="500px"></p>
            <p>{{ i.descr }}</p>
            <p>{{ i.hashtag }}</p>
            <p>{{ i.comments }}</p>



    </li>
    {% endfor %}
</ul>
    </form>
    </div>
    <script>
    function search() {
        let searchText = document.getElementById('search-box').value;
        let newUrl = location.protocol + '//'+ location.host + "/blog/?" + 'search=' + searchText;

        location.replace(newUrl)
    }
    </script>

{% endblock %}